<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>



		<!-- <JDBC name="databaseAppender" tableName="public.log_info"> <ConnectionFactory 
			class="com.ivanslushko.training.services.ConnectionFactory" method="getDatabaseConnection" 
			/> <Column name="user_id" literal="LOGGING.APPLICATION_LOG_SEQUENCE.NEXTVAL" 
			/> <Column name="date" isEventTimestamp="true" /> <Column name="level" pattern="%level" 
			isUnicode="false"/> <Column name="logger" pattern="%logger" isUnicode="false"/> 
			<Column name="message" pattern="%message" isUnicode="false"/> </JDBC> -->


	</Appenders>

	<Loggers>

		<Root level="info">
			<AppenderRef ref="Console" />
			<!-- <AppenderRef ref="databaseAppender" level="INFO" /> -->
		</Root>

		<Logger level="info" name="com.ivanslushko.training"
			additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>

	</Loggers>
</Configuration>