<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>

		<JDBC name="databaseAppender" tableName="logs">
			<ConnectionFactory
				class="com.ivanslushko.training.services.add_service.ConnectionFactory"
				method="getDatabaseConnection" />
			<Column name="date" isEventTimestamp="true" />
			<Column name="level" pattern="%level" isUnicode="false" />
			<Column name="logger" pattern="%logger" isUnicode="false" />
			<Column name="message" pattern="%message" isUnicode="false" />
		</JDBC>

	<!-- <SMTP name="mailAppender" smtpProtocol="smtps" smtpPort="465" subject="Test 
		Log from Java" to="lu813@tut.by" from="lu813@tut.by" smtpHost="smtp.yandex.ru" 
		smtpUsername="lu813@tut.by" smtpPassword="xyzrfvfcenhf" bufferSize="512"> 
		</SMTP>  -->

	</Appenders>

	<Loggers>

		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="databaseAppender" />
		<!-- 	<AppenderRef ref="mailAppender" />  -->
		</Root>

		<Logger level="info" name="com.ivanslushko.training"
			additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="databaseAppender" />
	<!-- <AppenderRef ref="mailAppender" /> -->
		</Logger>

	</Loggers>
</Configuration>