<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>

		<JDBC name="databaseAppender" tableName="public.log_info">
			<ConnectionFactory
				class="com.ivanslushko.training.services.ConnectionFactory" method="getDatabaseConnection" />
			<Column name="USER_ID" pattern="%userid" />
			<Column name="DATE" isEventTimestamp="true" />
			<Column name="LEVEL" pattern="%level" />
			<Column name="LOGGER" pattern="%logger" />
			<Column name="MESSAGE" pattern="%message" />
		</JDBC>

	</Appenders>

	<Loggers>

		<Root level="warn">
			<AppenderRef ref="databaseAppender" />
		</Root>

		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>

		<Logger level="info" name="com.ivanslushko.training"
			additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>


	</Loggers>

</Configuration>